body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
body {
  color:white;
  background: linear-gradient(141deg, #cf9883 0%, #3a6769 71%, #000 100%);
  z-index: 1;
  margin-right: 15%;
  margin-left: 15%;
}
.avatar img {
  display: block;
  margin-right:auto;
  margin-left: auto;
  margin-top: 5%;
  border-radius: 90%;
  z-index:1000001;
  padding: 0.5em;
  border:solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}
.blabla {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.blabla h1 {
  font-family: "Source Sans Pro";
  line-height: 1.5;
  font-size: 1.75em;
  margin-top: 5%;
  font-weight: 200;
}
.icons {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 25px;
  letter-spacing: 10px;
}
.icons a {
  color: #fff;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.25);
}
.icons a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px rgba(255, 255, 255, 0.5);
}
.icons a i {
  padding-top: 11px;
  width: 100%;
  height: 100%;
}
.icons a i:before {
  margin-left: 11px;

}
.dessous {
  clear: both center;
}
.item {
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 10px;
}
.item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.item .col-md-12 {
  padding: 0;
}
.item h4 {
  border-radius: 0 0 3px 3px;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: rgba(255, 255, 255, 0.8);
}
.item .photo {
  width: 100%;
}
.trait {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.copyright {
  padding-bottom: 30px;
  text-align: center;
}